<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>熱狂クイズ</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css"/>
</head>
<body>
<div>
    <div id="logo"></div>
    <div id="title">熱狂クイズ</div>
</div>
<hr/>
<div>
    <div class="snapshot"><img src="static/img/snapshot/index.png"/></div>
    <div class="snapshot"><img src="static/img/snapshot/main.png"/></div>
    <div class="snapshot"><img src="static/img/snapshot/waiting.png"/></div>
    <div class="snapshot"><img src="static/img/snapshot/game.png"/></div>
</div>
</body>
</html>