<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>個人情報保護方針について</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.facebook.com/nekyou.quiz">熱狂クイズ</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>個人情報保護方針</h1>
        </div>

        <p>Bulb Studio株式会社（以下「弊社」といいます。）が運営するサビース「熱狂クイズ」（以下「本サビース」といいます。）の利用について、以下のとおり本規約を定めます。</p>

        <h3>第1条　個人情報の取得について</h3>
        １．当社は、個人情報を取得の際に示した利用目的の範囲内で、業務の遂行上必要な限りにおいて利用します。<br/>
        ２．当社は個人情報を取得する場合、事前に使用目的を明示し、同意を頂くものとします。

        <h3>第2条　個人情報の利用について</h3>
        １．当社は、個人情報を取得の際に示した利用目的の範囲内で、業務の遂行上必要な限りにおいて利用します。<br/>
        ２．当社は個人情報を取得する場合、事前に使用目的を明示し、同意を頂くものとします。

        <h3>第3条　当社が取得する個人情報と利用目的</h3>
        １．法人顧客・取引先に関する個人情報<br/>
        （1）セミナー・展示会等のイベントの案内、商品・サービスの情報や宣伝物等の提供。サービス窓口の紹介等。<br/>
        （2）保守サポートの提供のため。<br/>
        （3）法人顧客・取引先との連絡、協力、交渉、契約履行、履行請求書、取次媒介等。<br/>
        （4）（1）～（3）の目的に必要な範囲内で当社の関係会社、販売店、法人顧客・取引先などに提供することがあります。<br/>
        ２．当社の一般ユーザー向けサービスで取得する個人情報<br/>
        （1）当社サービスを提供するため。<br/>
        （2）有料サービスを利用したユーザーに利用料金を請求するため。<br/>
        （3）ユーザーの年齢、性別、趣味等により、当社サービスの改良・新サービス提供、及び広告掲載・配信等の判断資料とするため。<br/>
        （4）当社サービスの利用規約に違反する利用形態を防止するため。<br/>
        （5）ユーザーの利用形態の統計データを作成するため。（ただし該当データを作成する場合は個人を識別できないようにデータを加工する）<br/>
        （6）当社サービスおよび当社または提携先企業等の製品、サービス、優待、イベント等に関する情報の送付・案内のため。<br/>
        （7）当社サービスに関する各種のお問い合わせのため。<br/>
        （8）当社サービスに関する懸賞、作品公募及びモニターキャンペーン等の当選・採用等の本人通知、賞品、謝礼の提供、イベントの企画・運営に関する諸対応のため。<br/>
        ３．株主の皆さまに関する個人情報<br/>
        （1）会社法に基づく権利の行使・義務履行のため。<br/>
        （2）株主の地位に関して、当社からの各種便宜を供与するため。<br/>
        （3）会社法に基づく所定の基準による株主データ（名簿）の作成と管理のため。<br/>
        ４．当社へ入社を希望される皆様に関する個人情報<br/>
        （新卒採用、中途採用、インターン、アルバイト含む）<br/>
        （1）連絡、情報の提供、及び採用選考のため。

        <h3>第4条　個人情報の管理の委託</h3>
        当社は取得した個人情報の取扱いを委託する場合があります。その場合、その受託者と必要な契約を締結し、受託者が個人情報を適切に管理するよう監督します。

        <h3>第5条　個人情報の第三者への提供</h3>
        当社はユーザーの個人情報について、原則としてユーザーの同意なく第三者に提供しません。<br/>
        ただし、以下の場合はこの限りでありません。<br/>
        （1）当社が本サービス等の一部を業務委託し、委託業務の遂行に必要な範囲で提供する場合。<br/>
        （2）統計的情報を提供する目的で、個々の個人情報を集積または分析し、個人を識別できない形式に加工してその統計データを開示する場合。<br/>
        （3）有料サービスを利用しているユーザーに利用料金を請求する目的で、弊社の業務委託先である決済システム会社、クレジット会社および銀行に有料サービスを利用しているユーザーの個人情報を委託する場合。<br/>
        （4）ユーザーへの配送物を業社に委託する場合。<br/>
        （5）法令により、開示または提供が認められる場合。

        <h3>第6条　個人情報の管理について</h3>
        当社は、個人情報の紛失、破壊、改ざん及び漏洩などを防止するため、不正アクセス、コンピュータウィルス等に対する適正な情報セキュリティ対策並びに継続的な是正処置を講じます。

        <h3>第7条　個人情報保護マネジメントシステムの策定、実施、維持、改善</h3>
        当社は、個人情報の取り扱いに関して、個人情報保護法をはじめとする個人情報に関する法令、国が定める指針及びその他の規範を順守するとともに、社内規定に準拠して行動いたします。また、役員を含む就業者に教育・啓発を実施し、維持し、継続的に改善いたします。

        <h3>第8条　個人情報の開示、訂正、利用停止、消去について</h3>
        当社は、本人が自己の個人情報について、開示、訂正、利用停止、消去等を求める権利を有していることを確認し、これらの要求ある場合には、異議なく速やかに対応します。<br/>
        但し、以下の場合には、その全部又は一部を開示しない場合があります。<br/>
        （1）ユーザー本人又は第三者の生命・身体・財産その他の権利を害する恐れがある場合。<br/>
        （2）開示に応じることが当社の業務遂行に著しい障害を生じさせる場合。<br/>
        （3）法令に違反する場合。<br/>

        <p style="float:right;">平成26年10月15日　制定</p>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">
            熱狂クイズ運営事務局：
            <a href="mailto:nekyou.quiz@gmail.com">
                <span>nekyou.quiz@gmail.com </span>
            </a>

            <span style="float: right">Copyright © 2014 Bulb Studio all right reserved.</span>
        </p>
    </div>
</div>
</body>
</html>